/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/football-background3.jpg);
    /* https://www.pexels.com/photo/adidas-ball-game-grass-39362/ */
}

button {
    background-color: #1a5929;
    border: 4px solid black;
    color: white;
    padding: 2% 3%;
    font-size: 1.5rem;
    margin: 3rem 0;
    width: 80%;
    text-transform: uppercase;
}

/* header */
header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

header>img {
    width: 80%;
    margin: 1rem 10%;
}

header>h1 {
    display: none;
}

h1,
h2,
p,
li {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

/* Scrolling text */
/* https://www.html.am/html-codes/marquees/html-scrolling-text.cfm */

.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: #EEFF00;
    color: #000;
    border: 1px solid #000;
   }
   .scroll-left p {
    position: absolute;
    font-weight: 800;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 20s linear infinite;
   }
   /* Move it (define the animation) */
   @keyframes scroll-left {
    0%   {
    transform: translateX(100%); 		
    }
    100% {
    transform: translateX(-100%); 
    }
   }


/* Tally grid */
#tally-grid {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
        grid-template-areas:
        "score-area attempts-area league-area";
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #1a5929;
}

.tally-text {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}

#score-area {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: score-area;
}

#attempts-area {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: attempts-area;
}

#league-area {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: league-area;
}

/* Rules section */
#rules {
    background-color: black;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

#rules>h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1%;
    -webkit-margin-before: 0.2em;
            margin-block-start: 0.2em;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

#rules>p {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10% 1% 10%;
    -webkit-margin-before: 0.4em;
            margin-block-start: 0.4em;
    -webkit-margin-after: 0.4em;
            margin-block-end: 0.4em;
}

/* Final message section */

#final-message {
    font-size: 2rem;
    padding: 3%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#final-message p {
    font-weight: 800;
}

.poor {
    color: #B30000;
}

.medium {
    color: #000;
}

.good {
    color: #1a5929;
}

/* Questions grid section */

#question {
    font-weight: 800;
    font-size: 1.5rem;
}

#question-grid-area {
    display: -ms-grid;
    display: grid;
    width: 80%;
    margin: 20px auto;
    -ms-grid-columns: minmax(0, 1fr) 15px minmax(0, 1fr) 15px minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
        grid-template-areas:
        "question-box question-box feedback-gif";
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

#question-box {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: question-box;
}

#question-box>h2 {
    font-size: 2rem;
    font-weight: 800;
    color: #1a5929;
    text-align: left;
}

#question-box p,
#question-box li {
    font-size: 1.5rem;
    color: black;
    text-align: left;
}

#question-options p {
    line-height: 2rem;
}

/* https://stackoverflow.com/questions/4920281/how-to-change-the-size-of-the-radio-button-using-css */
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }

#feedback-gif {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: feedback-gif;
}
#feedback-gif > p {
    text-align: center;
}

.gif {
    width: 100%;
    display: block;
}

.feedback {
    margin-top: 1rem;
}

.miss-feedback {
    color: #B30000;
    font-size: 1.5rem;
}

.correct-feedback {
    color: #1a5929;
    font-size: 1.5rem;
}

#show-rules {
    text-align: center;
}

#show-rules button {
    width: auto;
}

/* footer */

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1%;
    position: sticky;
    bottom: 0;
    width: 100%;
}

/* media queries */
@media screen and (max-width: 700px) {
    #tally-grid {
        -ms-grid-rows: auto 0 auto;
            grid-template-areas:
            "score-area attempts-area"
            "league-area league-area";
        -ms-grid-columns: minmax(0, 1fr) 0 minmax(0, 1fr);
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0;
    }

    #question-grid-area {
        -ms-grid-rows: auto .5rem auto;
            grid-template-areas:
            "question-box"
            "feedback-gif";
        -ms-grid-columns: minmax(0, 1fr);
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: .5rem 0;
    }

    button {
        width: 100%;
        margin: 1rem 0;
    }

    #question {
        font-size: 1.25rem;
    }

    .miss-feedback {
        font-size: 1.25rem;
    }

    #question-box p,
    #question-box li {
        font-size: 1.25rem;
    }
    #score-area {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #attempts-area {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #league-area {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

    #question-box {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    #feedback-gif {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}


#enter-username-box {
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(10.2, 34.9, 16.1, .9);

}

#enter-username {
    background-color: #fff;
    margin: 3rem auto;
    padding: 2rem;
    width: 80%;
    border-radius: 5px;
}
#enter-username > input {
    background-color: lightgray;
    line-height: 2rem;
    width: 80%;
    color: darkslategray;
    border: 1px solid lightslategray;
    margin: 2rem auto 0 0;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
}
#enter-username > h2 {
    color: #1a5929;
    font-weight: 800;
    margin-bottom: 1rem;
}

#enter-username > button {
    margin: 1rem 0;
    width: auto;
    border-radius: 25px;

}

#username-error-message {
    color:#B30000;
}